* {
	-fx-white-color: #EDF5E1;
	-fx-dark-blue-color: #05386B;
}

root {
  -fx-background-color: cornsilk;
  -fx-padding: 10;
}

.context-menu {
  -fx-background-color: -fx-white-color;
}

.menu-item .label {
  -fx-fill:red;
    -fx-font-family:tahoma;
    -fx-font-size: 12px;
    -fx-stroke:#C8CFD7;
    -fx-strok-width:.25;
}

.menu-item:focused .label {
  -fx-text-fill: -fx-white-color;
}
.menu-item{
    -fx-border-width:0.50px;

}
.menu-item:focused {
     -fx-background: -fx-accent;
     -fx-background-color: -fx-dark-blue-color;
     -fx-text-fill: -fx-selection-bar-text;
}