* {
	-fx-white-color: #EDF5E1;
	-fx-dark-blue-color: #05386B;
	-fx-light-green-color: #8EE4AF;
	-fx-green-color: #5CDB95;
}

/* Dialog */
.dialog-pane {
    -fx-background-color: -fx-white-color;
}

.dialog-pane .label {
    -fx-text-fill: -fx-dark-blue-color;
    -fx-font-size: 14px;
}

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}

/* Combo Box */

.combo-box {
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-fill: -fx-white-color;
}

.combo-box .list-cell
{
    -fx-background-color: -fx-white-color;
    -fx-border-color: transparent;
}

.combo-box .list-cell:hover
{
    -fx-background-color: -fx-dark-blue-color;
}

.combo-box .list-cell:selected
{
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-fill: -fx-white-color;
}

.combo-box-base
{
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-fill: -fx-white-color;
}

/* Buttons */
.button {
    -fx-background-color: -fx-dark-blue-color;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-white-color;
    -fx-background-radius: 10px;
    -fx-focus-color: transparent;
}
.button:hover {
    -fx-text-fill: -fx-light-green-color;
}
.button:pressed {
    -fx-text-fill: -fx-light-green-color;
}

/* Date Picker */
.date-picker .arrow-button {
	-fx-background-color: -fx-dark-blue-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-dark-blue-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: -fx-white-color;
}
.date-picker .cell {
	-fx-background-color: -fx-white-color;
    -fx-text-fill: -fx-dark-blue-color;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-dark-blue-color;
	-fx-text-fill: -fx-white-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-dark-blue-color;
	-fx-text-fill: -fx-white-color;
}
.date-picker .selected {
	-fx-background-color: -fx-dark-blue-color;
	-fx-text-fill: -fx-white-color;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-dark-blue-color;
	-fx-text-fill: -fx-white-color;
}
.date-picker-popup{
	-fx-border-color: transparent;
}

.date-picker-popup .day-name-cell:hover {
	-fx-text-fill: -fx-white-color;
}

.date-picker-popup .week-number-cell .label {
	-fx-text-fill: -fx-white-color;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-dark-blue-color;
}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-white-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -fx-white-color;
}

.date-picker .text-field {
    -fx-text-fill: -fx-white-color;
}


/* Text Field */
.text-field {
    -fx-focus-color: -fx-dark-blue-color;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent transparent -fx-dark-blue-color transparent;
}

