* {
	-fx-white-color: #EDF5E1;
	-fx-dark-blue-color: #05386B;
	-fx-green-color: #5CDB95;
}

/* Buttons */

.button {
    -fx-background-color: -fx-dark-blue-color;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-white-color;
    -fx-background-radius: 10px;
    -fx-focus-color: transparent;
}
.button:hover {
    -fx-text-fill: -fx-green-color;
}
.button:pressed {
    -fx-text-fill: -fx-green-color;
}