* {
	-fx-white-color: #EDF5E1;
	-fx-dark-blue-color: #05386B;
	-fx-blue-green-color: #379683;
}

/*Tables*/
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-fill: -fx-white-color;
    -fx-text-background-color: -fx-white-color;
    -fx-font-size: 14px;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-blue-color;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-white-color;
    -fx-text-background-color: -fx-white-color;
}
.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-font-size: 14px;
}
.table-row-cell: odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: -fx-dark-blue-color;
}
.table-row-cell: even{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: -fx-dark-blue-color;
}
.table-row-cell:hover:filled {
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-background-color: -fx-white-color;
}
.table-row-cell:selected:filled {
    -fx-background-color: -fx-dark-blue-color;
    -fx-text-background-color: -fx-white-color;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-font-size: 14px;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

// Hide horizontal scrollbar
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-column {
  -fx-alignment: CENTER;
}

/*Tab Panes*/
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: -fx-dark-blue-color;
    -fx-focus-color: transparent;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected
{
    -fx-background-color: transparent;

}

.tab:selected .tab-label {
    -fx-text-fill: -fx-dark-blue-color;
}

.tab:hover .tab-label {
    -fx-text-fill: -fx-blue-green-color;
}